div {
    background-color: #EA99D5;
}

body {
    margin: 0;
}

h1 {
    margin-top: 0;
}

/*
.top-container {
    background-color: #EA99D5;
    border: solid 20px;
    padding: 20px;
    width: 200px;
    height: 200px;
    
}

.middle-container {
    background-color: red;
    width: 200px;
    height: 200px;
    border: solid 20px;
    margin-left: 260px;
}

.bottom-container {
    background-color: yellow;
    width: 200px;
    height: 200px;
    border: solid 10px;
    margin-left: 500px;
}
*/